[submodule "submodules/dl_binder_design"]
	path = submodules/dl_binder_design
	url = https://github.com/nrbennet/dl_binder_design
[submodule "submodules/ppi_iterative_opt"]
	path = submodules/ppi_iterative_opt
	url = https://github.com/davidekim/ppi_iterative_opt
[submodule "submodules/parametric_barrels"]
	path = submodules/parametric_barrels
	url = https://github.com/davidekim/parametric_barrels
[submodule "submodules/sushimaki"]
	path = submodules/sushimaki
	url = https://github.com/davidekim/sushimaki
