[submodule "RFdiffusion"]
	path = RFdiffusion
	url = https://github.com/RosettaCommons/RFdiffusion
[submodule "ProteinMPNN"]
	path = ProteinMPNN
	url = https://github.com/dauparas/ProteinMPNN
[submodule "dl_binder_design"]
	path = dl_binder_design
	url = https://github.com/nrbennet/dl_binder_design
[submodule "ppi_iterative_opt"]
	path = ppi_iterative_opt
	url = https://github.com/davidekim/ppi_iterative_opt
[submodule "sushimaki"]
	path = sushimaki
	url = https://github.com/davidekim/sushimaki
[submodule "parametric_barrels"]
	path = parametric_barrels
	url = https://github.com/davidekim/parametric_barrels
